### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

TesteLocacao.java
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/.idea
/META-INF
/target
.classpath
.project
Locadora.iml
src/main/java/dao/SQL.txt
